<!DOCTYPE html>
<html lang="en" ng-app="testApp">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Test App</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="libs/bootstrap/css/bootstrap.css" type="text/css" >
    <link rel="stylesheet" href="css/app.css" type="text/css" >

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>

<div class="container move-down" ng-controller="mainController">


    <form>
        <div class="form-group">
            <input type="search" ng-model="search" class="form-control"  id="search" placeholder="search">
        </div>
    </form>

    <div class="row">
        <div class="col-xs-12">
            <button class="btn btn-danger" ng-click="createValues()"> Generate Random</button>

            <div class="move-down">

                <table class="table table-striped " >
                    <tr>
                        <th>Random Value</th>
                        <th>Date</th>
                    </tr>
                    <tr ng-repeat = "value in data | filter:search">
                        <td>{{value.value}}</td>
                        <td >{{value.date | date:'yyyy-MM-dd' }}</td>

                    </tr>

                </table>

            </div>

        </div>

    </div>

</div>


<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="libs/bootstrap/js/bootstrap.min.js"></script>
<script src="libs/angular/angular.min.js"></script>
<script src="libs/angular/angular-resource.min.js"></script>
<script src="libs/angular/ui-router.js"></script>
<script src="core.js"></script>
</body>
</html>